*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}


/* ------- UTILITY CLASS -------*/
/* .container{ */
    /* max-width: ; */
    /* max-width: 1200px;
    width:90%;
    margin: 0rem 20.4rem; */
/* } */
.container{
    /* border:2px solid red; */
    max-width: 1200px;
    width:90%;
    margin: auto;
    /* margin: 0rem 20.4rem; */
}


.lg-heading{
    font-size:3.5rem;
}

.text-red{
    color:#e63946
}

.text-light{
    color:#f4f4f4
}

.text-black{
    color:#333333
}

.text-grey{
    color:#555555
}


.btn{
    display: inline-block;
    padding: 0.5em 1.5em ;
    text-transform:uppercase ;
    font-weight: 500;
    margin: 0.5em;
}

.btn-primary{
    background-color: white;
    border-radius:22px ;
}

.btn-primary:hover{
    background-color: #ddd;
}

.btn-secondary{
    background-color: white;
    color:#e63946;
    border: 2px solid #e63946 ;
    border-radius: 100px;
    padding: 1rem;
}

.btn-secondary:hover{
    background-color: #fcf3f2;
}

.bg-dark{
    background-color: #263238;
}

/* ################################??-----End of utility class ---- */

body{
    font-family: 'Montserrat', sans-serif;
}

.header{
    height: 95vh;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("../img/header-image.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

header h1{
    color:white;
    font-weight: 400;
}

.nav-items{
    margin-top: 1.2rem;
    /* border:2px solid red; */
    float:right;
    margin-top: 3rem;
    /* margin-right: 0rem; */
    
}

.navbar{
    
    /* border:2px solid gold; */
    /* display: inline-block; */
    /* width: 50%; */
    /* margin: 3.1rem 0rem; */
    
}
.nav-item{
    display: inline-block;
    
}
.logo{
    /* border:2px solid green; */
    display: inline-block;
    font-weight: 500;
    float: left;
    margin-top: 2rem;
    /* font-size: 3.5rem; */
    
}

a{
    text-decoration: none;
    color:white;
    font-weight: 700;
    padding:0.2rem 1.1rem;
    font-size: 1.6rem;
}

header a:hover{
    border-bottom: 1px solid white;
}

.clearfix{
    clear: both;
}

p,li{
    font-size: 1.6rem;
    margin-bottom:0.5em ;
    letter-spacing: 0.15em;
}

h1,h2,h3{
    margin-bottom:0.5em ;
    /* letter-spacing: 1.5em; */
    /* font-weight: 500; */
}

.header-content{
    margin-top: 18rem;
    text-align: center;
    /* border:2px solid red; */
    /* margin: auto; */
}


.para{
    margin-bottom: 27px;
    text-transform: uppercase
}

/* ####################################################################### */

.second{
    background-color: #ddd;
    padding: 10rem 0;
}

.row{
    /* border:2px solid red; */
    height: 350px;
    background-color: white;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.3);
}

.row1{
    margin-bottom:10rem ;
}


.row1 .img-box , .row2 .text-box{
    float: left;
}

.row2 .img-box , .row1 .text-box{
    float: right;
}



.row .img-box{
    /* border:2px solid green; */
    width: 50%;
    height: 100%;
}

.row .text-box{
    /* border:2px solid blueviolet; */
    width: 50%;
    height: 100%;
    padding: 3rem;
}


.row1 .img-box img{
    width: 100%;
    height: 100%;
}
.row2 .img-box img{
    width: 100%;
    height: 100%;
}


/* ################################################################ */

.sec-section{
    padding: 10rem 0;

}

.row3{
    /* border: 2px solid red; */
    height: 203.75px;
    box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.37);

}

.one , .two , .three {
    /* border: 2px solid violet; */
    width: 33.333%;
    float: right;
    height: 100%;
    padding:2rem;
    text-align: center;

}

.one , .two , .three, .h2{
    font-size:small;
}


.one , .three{
    background-color: #263238;
    color:white;
}

.two{
    background: linear-gradient(25deg,#d64c7f,#ee4758 50%);
    color: white;

}


/* ################################################### */
.footer{
    /* border: 2px solid red; */
    text-align: center;
    height: 15rem;
    background-color: #263238;
    color: white;
}

.footer i{
    margin-top: 4rem;
    margin-bottom: 1rem;
    padding: 0 1rem;
}


/* ############################################   ABOUT */

.about{
    padding: 5rem 0;
}

.about h1{
    font-size: 34px;
    border-bottom: 6px solid #e63946;
}

.boxer{
    /* border: 2px solid red; */
    margin: 2rem 0;
}

.boxer-one , .boxer-two{
    width: 50%;
    /* border: 2px solid violet; */
    float:left;
    text-align: center;
}

.boxer i{
    color:#e63946
}


.last-box{
    /* border: 2px solid red; */
}

.last{
    /* border: 2px solid violet; */
    width: 25%;
    float: left;
    text-align: center;
}

.last h2{
    color:#e63946;
    font-size: 2.8rem;
}

.last p{
    font-weight: 500;
}

.tab{
    /* border:2px solid red; */
    height: 6rem;
    background-color: #ee4758;
}

.tab-one {
    /* border:2px solid violet; */
    width: 65%;
    float: left;
    height: 100%;
    padding-top: 1.5rem;
    color:white;
    font-size: small;
    padding-left: 1rem;
    
}

.tab-two{
    /* border:2px solid violet; */
    width: 35%;
    float: left;
    height:100%;
    text-align: center;
    /* padding: 1.5rem; */
}

.tabp{
    border: 4px solid white;
    padding:1rem 0;
    color:white;
    margin-top: 0.6rem;
    font-weight: 600;
    /* padding-right: 1rem; */
    margin-right: 1rem;
}
/* 
.tab-one h2{
    padding-r: 1rem;
} */


.logo-about{
    color: white;
}

/* ########################################################## */
.maintab{
    margin: 5px;
    border: 2px solid red;
    height: 1000px;
    
}


.tabone{
    border: 2px solid violet;
    float: left;
    width: 50%;
    height: 100%;
}

.tabtwo{
    border:2px solid violet;
    float: left;
    width: 50%;
    height: 100%;
}

.tabone-h1 i{
    color:#e63946;
    padding: 0px 3rem;
}

.tabone p{
    padding-left: 1rem;

}

.tabone-1{
    height:25%;
    border:2px solid red;
}

.tabone-2{
    border: 2px solid red;
    height: 75%;
    background: url("/img/company-img.jpg");
    
}

.onner , .twoer , .threeer{
    margin: 2rem 0rem;
}